.about-section {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 4fr 4fr;
    position: fixed;
}

.about-section-gradient {
    background-image: linear-gradient(
        to botrom right,
        rgb(78, 81, 255),
        rgb(74, 137, 189)
    );
}

.about-section-container {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 80vh;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.192);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section-container > h1 {
    font: 400 3vmax "Roboto";
    color: tomato;
    margin: 2vmax;
}

.about-section-container > div {
    display: flex;
    width: 100%;
}

.about-section-container > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vmax;
    box-sizing: border-box;
}

.about-section-container > div > div > p {
    color: rgba(0, 0, 0, 0.623);
    font: 100 1vmax "Roboto";
}

.about-section-container > div > div > button {
    margin: 1vmax 0;
  }
  
  .about-section-container > div > div > span {
    font: 100 1vmax "Roboto";
    color: rgba(0, 0, 0, 0.616);
    text-align: center;
    width: 80%;
  }
  
  .about-section-container2 {
    border-left: 1px solid rgba(0, 0, 0, 0.116);
  }
  
  .about-section-container2 > h2 {
    color: rgba(0, 0, 0, 0.623);
    font: 100 2vmax "Roboto";
    margin: 2vmax;
  }
